__debug_bin*
__debug_bin.exe
.idea/

# Build output from make for exes, coverage reports, etc
/_out/
/vips/
#generated-protos/
api/ws/wsMessage.go

db-restore/
mongo-db-local-*/
mongo-db-pixlise-*/

local-api-config*.json
local-api-config-unittest.json
local-ci-api-config-unittest.json

__pycache__
python/pixlisemsgs/

# temp files that get generated for tests
diffraction-detector/test-files/dataset-diffraction.bin
core/fileaccess/test-output/
api/job/runner/data
api/job/runner/data.txt
api/job/runner/inputfile.csv
api/job/runner/second.csv

# macOS #
.DS_Store
.AppleDouble
.LSOverride

#binary files
integrationTest
.vscode/
