__debug_bin
__debug_bin.exe
.idea/

# Build output from make for exes, coverage reports, etc
/_out/
generated-protos/
api/ws/wsMessage.go
/OLDCODE
auth0dummy.go
/local-mongo/dbseed/migrated/
/local-mongo/dbseed/old/
/local-mongo/dbseed/*.json
/local-mongo/3repl/

# temp files that get generated for tests
diffraction-detector/test-files/dataset-diffraction.bin
core/fileaccess/test-output/


# macOS #
.DS_Store
.AppleDouble
.LSOverride

#binary files
integrationTest
.vscode/
