__debug_bin*
__debug_bin.exe
.idea/

# Build output from make for exes, coverage reports, etc
/_out/
#generated-protos/
api/ws/wsMessage.go
/OLDCODE
auth0dummy-LOCAL-ONLY.go-
/local-mongo/dbseed/from-prod-Jan2024/
/local-mongo/dbseed/migrated/
/local-mongo/dbseed/migration-source/
/local-mongo/dbseed/old/
/local-mongo/dbseed/*.json
/local-mongo/dbseed/*.sh
/local-mongo/dbseed/json/
/local-mongo/3repl/

db-restore/

local-api-config.json
local-api-config-unittest.json

# temp files that get generated for tests
diffraction-detector/test-files/dataset-diffraction.bin
core/fileaccess/test-output/
api/job/data
api/job/data.txt
api/job/inputfile.csv
api/job/second.csv

# macOS #
.DS_Store
.AppleDouble
.LSOverride

#binary files
integrationTest
.vscode/
